#login-form-container {
    float: right;
}

#login-button-container {
    float: right;
}

#logout-button-container {
    float: right;
}

/* Style the Login button */
#show-login-form {
    width: 100%;
    background-color: #73bcec; 
    color: #fff; 
    border: none;
    padding: 10px; 
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 10px;
}

#show-login-form:hover {
    background-color: #c4e5fc; 
}

/* Style the tooltip */
.tooltip {
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%; /* Position to the left of the button */
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Style for the logout button */
#logout {
    background-color: #ccc; 
    color: rgb(43, 41, 41);
    border: none;
    padding: 12px; 
    cursor: pointer;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 12px; 
}

#logout:hover {
    background-color: darkgrey; 
}

#show-login-form:hover + .tooltip {
    opacity: 1;
}


#login-form-container {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

/* Adjust the size of input boxes and spacing */
#login-form input {
    width: 95%;
    border: 1px solid #ccc; 
    padding: 8px; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-bottom: 10px; 
}

/* Adjust label styles */
#login-form label {
    text-align: left; 
    font-weight: bold; 
}

/* Style for login button */
#login-form-submit {
    width: 100%; 
    background-color: #007acc; 
    color: #fff; 
    border: none;
    padding: 10px; 
    cursor: pointer;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 10px; 
    margin-bottom: 2px;
}

#login-form-submit:hover {
    background-color: #005b9e; 
}

/* Style for Cancel button */
#cancel-login {
    width: 100%; 
    background-color: #ccc; 
    color: #333; 
    border: none;
    padding: 10px; 
    cursor: pointer;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 10px; 
}

#cancel-login:hover {
    background-color: #999; 
}

