#login-form-container {
    float: right;
}

#login-button-container {
    float: right;
    margin-right: 10px;
    min-width: 50px;
    min-height: 50px;
}

#logout-button-container {
    float: right;
}

/* Style the Login button */
#header {
    background-color: #DDF2FF; /* Default header color */
    color: #fff; /* Text color */
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center; /* Center-align the content */
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

#logo {
    display: inline-block; /* Make the logo behave as an inline-block element */
}

#logo img {
    width: 300px; /* Adjust logo width */
}

/* Style for the "show-login-form" button (if needed elsewhere) */
#show-login-form {
    width: 100%;
    background-color: #73bcec; 
    color: #fff; 
    border: none;
    padding: 10px; 
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 10px;
}

/* Style for the "show-login-form" button when changing color (if needed) */
#show-login-form.color-change {
    background-color: #dc3545; /* New color */
}

#show-login-form:hover {
    background-color: #c4e5fc; 
}

/* Style the tooltip */
.tooltip {
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%; /* Position to the left of the button */
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Style for the logout button */
#logout {
    background-color: #ccc; 
    color: rgb(43, 41, 41);
    border: none;
    padding: 12px; 
    cursor: pointer;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 12px; 
}

#logout:hover {
    background-color: darkgrey; 
}

#show-login-form:hover + .tooltip {
    opacity: 1;
}


#login-form-container {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 20px; 
    display: flex;
    flex-direction: column; 
    background-color: #fff;
}

/* Adjust the size of input boxes and spacing */
#login-form input {
    width: 95%;
    border: 1px solid #ccc; 
    padding: 8px; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-bottom: 10px; 
}

/* Adjust label styles */
#login-form label {
    text-align: left; 
    font-weight: bold; 
}

/* Style for login button */
#login-form-submit {
    width: 100%; 
    background-color: #007acc; 
    color: #fff; 
    border: none;
    padding: 10px; 
    cursor: pointer;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 10px; 
    margin-bottom: 2px;
}

#login-form-submit:hover {
    background-color: #2A2C7B; 
}

/* Style for Cancel button */
#cancel-login {
    width: 100%; 
    background-color: #ccc; 
    color: #333; 
    border: none;
    padding: 10px; 
    cursor: pointer;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px; 
    margin-top: 10px; 
}

#cancel-login:hover {
    background-color: #999; 
}

dialog#login-form-dialog {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px; /* Add rounded corners */
}

#dialog {
    position: relative;
    width: 600px;
    margin-left: -300px;
    height: 400px;
    margin-top: -200px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

