#map-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-width: 90%; /* Adjust the max-width*/
    margin: 0 auto 10px auto; /* Center horizontally on the page */
    padding-top: 10px; /* Add spacing around the map */
    padding-bottom: 40px; /* Add spacing around the map */
    height: 340px;
    display: none;
}

#map {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-width: 90%; /* Adjust the max-width*/
    margin: 0 auto; /* Center horizontally on the page */
    padding: 20px; /* Add spacing around the map */
    height: 340px;
}
