.quote-form {
    background-color: #2A2C7B;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
}

.quote-form label {
    font-weight: bold;
    color: #fff;
}

input:focus {
    border: 1px solid #ccc;
}

input:focus + label {
    color: #ff6600;
}

#quote-results {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quote-section {
    width: 100%;
    margin-bottom: 10px;
}

.quote-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.quote-card {
    background-color: #DDF2FF;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.quote-card-image {
    max-width: 50%;
    max-height: 50%;
}

.quote-card p {
    margin: 5px 0;
}

.quote-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.book-now {
    background-color: #2A2C7B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.book-now:hover {
    background-color: rgb(30, 145, 30);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    left: 50%;
    background-color: rgba(0, 122, 204, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-left: -60px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;

}

#back-to-top a {
    text-decoration: none;
    color: #fff;
}

.tc-autocomplete-suggestions li {
    font-family: Arial, sans-serif;
}

.tc-autocomplete-suggestions li.tc-autocomplete-title, .tc-autocomplete-suggestions:hover li.tc-autocomplete-title {
    background: #2A2C7B;
    color: #fff !important;
    border: azure solid 0.2px;
}

.star-icon {
    height: 16px;
    width: 16px;
}
#quote-results h4.error {
    font-family: Arial, sans-serif;
    background-color: #f841419a;
    color: #fff;
    width: 60%;
    padding: 5px;
}

#highlighted-quotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust spacing between highlighted quotes */
    margin-bottom: 20px; /* Add margin at the bottom */
}

/* Add spacing between highlighted quotes */
#highlighted-quotes .quote-card {
    margin-right: 20px; /* Adjust margin as needed */
}

/* Adjust layout of other rates */
#other-rates {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    max-width: 90%;
}

/* Center all quote sections horizontally */
.quote-section {
    text-align: center;
}

/* styles.css */

/* Style for input fields */
.input-container {
    position: relative;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for clear buttons */
.clear-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #ccc;
    cursor: pointer;
    font-size: 16px;
}


