.banner {
    background-color: #2a2b7b7e;
    color: #2A2C7B;
    padding: 10px 0;
    text-align: center;
}

.banner p {
    margin: 0;
    font-size: 14px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    font-family: Arial, Helvetica, sans-serif;
}

.other-rates-banner {
    background-color: #2a2b7b7e;
    color: #2A2C7B;
    padding: 10px 0;
    text-align: center;
}

.other-rates-banner p {
    margin: 0;
    font-size: 14px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    font-family: Arial, Helvetica, sans-serif;
}

#biq-journey-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px; /* Adjust the max-width to your preference */
    margin: 0 auto; /* Center the form horizontally on the page */
    position: relative;
    margin-bottom: 40px;
}

/* Reduce the input border thickness and adjust spacing */
#biq-journey-form input {
    width: 100%;
    border: 1px solid #ccc; /* Thin border */
    padding: 5px; /* Adjust padding for spacing within the input */
    margin-bottom: 5px; /* Reduce spacing between inputs */
}

#biq-journey-form input:focus {
    outline: none; /* Remove the default focus outline */
    /* You can also set other border properties as needed */
    border: 1px solid #ccc; /* Set a custom border style */
}

/* Round the left corner of the first input */
#pickup {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Round the right corner of the last input */
#passengers {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.horizontal-border {
    border-top: 3px #2A2C7B; /* Thin blue border */
}

/* Adjust label styles */
#biq-journey-form label {
    text-align: center;
    display: block; /* Display labels as blocks to stack them on top of inputs */
    margin-bottom: 5px; /* Reduce spacing between labels and inputs */
}

label {
    font-family: Arial, sans-serif; /* Choose font-family */
    font-size: 16px; /* Adjust font size */
    color: #333; /* Adjust the colour */
    text-transform: capitalize; /* Convert text */
}

label:hover {
    color: #007acc; /* Change colour on hover */
}

input:focus + label {
    color: #ff6600; /* Change colour on focus*/
}


.form-row {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Adjust the margin between form rows */
}

label {
    text-align: center;
}

input {
    width: 100%;
}

#biq-journey-form-submit {
    width: 100%;
    background-color: #EB1E29;
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#biq-journey-form-submit:hover {
    background-color: rgb(30, 145, 30); /* Change colour on hover */
}

/* Responsive styles for mobile*/
@media (max-width: 600px) {
    .form-row {
        flex-direction: column; /* Stack the labels and inputs vertically */
    }

    label {
        text-align: left; /* Adjust label alignment for mobile view */
    }
}

#back-to-top a {
    font-family: Arial, Helvetica, sans-serif;
    
}

footer {
    background-color: #2a2b7b7e;
    color: #fff;
    padding: 30px 0;
    margin-top: 80px; /* Add margin at the top of the footer */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    background-color: #2A2C7B;
    flex: 1;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-section h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: #2a2b7b7e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;

}
